/* Resets and Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility */

/* Navigation */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  padding: 1rem 0;
}

#main-nav .logo {
  grid-column: 2 / span 1;
  place-self: center;
}

#main-nav ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
}

#main-nav ul li a:hover {
  color: #7F0000;
}

/* Featured Middle Section Styling */
#featured { 
  color: #fff;
  background: #333;
  padding: 2rem; 
  position: relative;
}

#featured:before {
  content: '';
  background: url('../img/barbershop.jpeg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

#featured .featured-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  height: 65vh;
}

#featured .featured-content {
  grid-column: 3 / span 1;
  padding: 7rem;
  z-index: 1;
}

#featured .featured-content h2 {
  font-size: 1.85rem;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  padding-bottom: .5rem;
  letter-spacing: .18rem;
  text-transform: uppercase;
}

#featured .featured-content p {
  font-size: 1.4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding: .4rem 0;
  margin-bottom: .5rem;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #444;
  padding: 0.8rem 1rem;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #7F0000;
}

/* Pictures Area Styling */
#gallery-container .gallery-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding-top: 2.3rem;
  background-color: #fff;
}

.gallery-content {
  height: 400px;
}

.gallery-content img.goatee {
  grid-column: 2 / span 1;
  border: 3px solid #333;
  justify-self: center;
  margin-bottom: .6rem;
}

.gallery-content img.scruff {
  grid-column: 3 / span 1;
  border: 3px solid #333;
  justify-self: center;
}

.gallery-content img.burly {
  grid-column: 4 / span 1;
  grid-row: 1 / span 1;
  border: 3px solid #333;
  justify-self: center;
}

.gallery-content h3.stiletto {
  color: #000;
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;  
}

.gallery-content h3.stubble {
  color: #000;
  grid-column-start: 3;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.gallery-content h3.full {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem; 
}

/* Footer Area Styling */
#main-footer {
  background: #242424;
  color: #fff;
  font-weight: bold;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 9rem; 
}

#main-footer p {
  justify-self: center;
  align-self: center;
  font-size: 1.1rem;
}

#main-footer .social {
  grid-column-start: 3;
  justify-self: center;
  align-self: center;
}

#main-footer a {
  color: #fff;
  margin: 0 .60rem;
}

#main-footer .social i {
  margin-right: .5rem;
  font-size: 1.5rem;
  border: 2px solid #fff;
  padding: .75rem;
}

i:hover {
  color: #7F0000;
}
















