/* Extra Small and up (Portrait Phones) */
/* Custom, iPhone Retina */ 
@media only screen and (min-width : 200px) {

	/*First, decide which nav you want to show, then adjust the other elements */
	
	/* Hide the desktop nav*/
	nav {
    	visibility: hidden;
		display: none;
  	}
	
	/* Show the mobile nav */
	#mobile-nav{
		visibility: visible;
		display:flex;
		justify-content: center;
  	}
	
	/* Change the header to a one-column grid */
	header {
    	grid-template-columns: 95%;
		justify-content: center;
	}
	
	/* Here's where I override the styles.css */
	#mobile-nav a {   
    	font-size: 16px;
    	padding: 10px 24px;
  }
	
	/*Reduce the size of the profile pic*/
	#profile-pic {
    	width: 175px;
    	height: 175px;
  	} 
	
	/* Adjust the grid-template-columns */
	main {
        grid-template-columns: 5% 90% 5%;
	}

	button {
		grid-column: 2/3;
		margin: 2% auto;
		width: fit-content;
		height: 15%;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
		border-radius: 25px;
		background: transparent;
		padding: 20px; 
	    /* padding-bottom: 5%; */  
		text-align: center;
		color: white;
		letter-spacing: 12px;
		font-style: italic;
	}
}

@media (max-width: 369px) {
	h1 {
		font-size: 1.2em;
	}

	h2 {
		font-size: 0.92em;
   }
}

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {

	/* No adjustments needed */

}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
	
	/* Maybe bump up the pic size at this res */
	#profile-pic {
    	width: 250px;
    	height: 250px;
  	}

}

/* Large and up (Desktops) */
@media (min-width: 992px) {

	/* Show the desktop nav and the rest of the styling comes from style.css */
	nav {
    	display: flex;
		visibility:visible;
	  }
	  
	nav a {
		font-size: 25px;
		padding: 20px; 
	}
	
	/* Hide the mobile nav  */
	#mobile-nav {
		visibility: hidden;
		display:none;
  	}

	/* Change the header to a two-column grid*/
	header {
    	grid-template-columns: 40% 60%;
  	}
  
  	/* Adjust the grid-template-columns */
	main {
        grid-template-columns: 30% 40% 30%;
	}

	/*Resize the pic */
	#profile-pic {
    	width: 300px;
    	height: 300px;
	}
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {

	/* No adjustments needed */

}